*.egg-info/
*.ipynb_checkpoints*
*.log
*.pyc
*.bat
*CHI - *
/batch-files/*
selenium-testing/testfile.csv
cyautomation/cyschoolhouse/input_files/*
cyautomation/cyschoolhouse/temp/*
cyautomation/cyschoolhouse/credentials.ini
