
*.log
*.pyc
selenium-testing/testfile.csv
/batch-files/*
*.bat
cyautomation/cyschoolhouse/input_files/*
cyautomation/cyschoolhouse/.ipynb_checkpoints/*
cyautomation/cyschoolhouse/temp/*
cyautomation/cyschoolhouse/.vscode/settings.json
cyautomation/sftp/.ipynb_checkpoints/*
